

<footer>
    <div class="footer-item">
        <p>OUR COMPANY</p>
        <a href="https://www.fedex.com/en-ng/about/careers.html"><div>Careers</div></a>
        <a href="https://www.fedex.com/en-ng/about/holiday-schedule.html#en_ng"><div>International Holiday Schedule</div></a>
        <a href="http://www.fedex.com/ng/services/terms/"><div>Conditions of Carriage</div></a>
        <a href="https://www.fedex.com/content/dam/fedex-com/legal/Customer_BCRs_Extract.pdf"><div>Binding Corporate Rules</div></a>
        <a href="https://newsroom.fedex.com/newsroom/middle-east-indian-subcontinent-and-africa"><div>MEISA Newsroom</div></a>
    </div>
    <div class="footer-item">
        <p>NEW CUSTOMER</p>
         <a href="https://www.fedex.com/en-ng/open-account.html"><div id="spec">Open an Account</div></a>
    </div>
    <div class="footer-item">
        <p>MORE FROM BREM</p>
         <a href="https://www.fedex.com/en-ng/shipping/surcharges.html"><div>Fuel Surcharges</div></a>
         <a href="https://www.fedex.com/en-ng/about/resources.html"><div>Resources</div></a>
    </div>
    <div class="footer-item">
        <p>LANGUAGE</p>
         <div id="spec">USA</div>
         <div>English</div>
    </div>
</footer>